@import "./styles/auth.css";
@import "./styles/courses.css";
@import "./styles/courseDetail.css";
@import "./styles/sidebar.css";
@import "./pages/Home/Home.css";
@import "./pages/Settings/Settings.css";

#root {
  width: 100%;
  height: 100%;
}
